<!DOCTYPE html>
<html lang="en">

<head>
      <title>Express Proj</title>
      <link rel="stylesheet" href="css/style.css">
</head>

<body>
      </form>
      <p id="weatherp">welcome to our website </p>
       <p id="weatherp">to find out information about the weather in a country, entre the name of the country</p>

       <form id="form1">
       <input type="text" id="address">
       <button>find weather</button>
       </form>
          <p id="location"></p>
      <p id="error"></p>
      <p id="forecast"></p>
      <p id="latitude"></p>
      <p id="longitude"></p>
      <script src="js/script.js"></script>
</body>

</html>